/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 16px;
}
/* GENERAL */
.container {
    padding: 1rem;
}
.d-none {
    display: none;
}
.fs-1rem {
    font-size: 1rem;
}
.fs-1em {
    font-size: 1em;
}
h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0.2em 0;
}
p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
hr {
    margin: 2rem 0;
}
form {
    background-color: lavender;
}
input {
    padding: 0.7rem;
    font-family: "Playfair Display", serif;
    font-size: 1em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    opacity: 0.5;
}
label {
    font-family: "Mulish", sans-serif;
    font-size: 0.9em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
footer {
    margin-top: 5rem;
}
/* SECTION */
.user-access {
    margin: 20px 0;
    padding: 30px;
    background-color: #f8f9fa;

}

.login-area {
    background-color:lightsalmon;
    padding: 20px 0;
}

.signup-area {
    background-color: aquamarine;
    padding: 20px 0;
}

.home-area {
    background-color:mediumpurple ;
    padding: 20px 0;
}

.profile-area {
    background-color:hotpink;
    padding: 20px 0;
}

.logout-area {
    background-color: lightgoldenrodyellow;
    padding: 20px 0;
}

.button-link-login {
    background-color: coral;
    display: inline-block;
    padding: 16px 22px;
    border-radius: 3px;
    color: black;
}

.button-link-login:hover {
    mix-blend-mode: multiply;
    color: white;
}

.button-link-signup {
    background-color: mediumaquamarine;
    display: inline-block;
    padding: 16px;
    border-radius: 3px;
    color: black;
}

.button-link-signup:hover {
    mix-blend-mode: multiply;
    color: white;
}

.button-link-home {
    background-color:blueviolet;
    display: inline-block;
    padding: 16px 22px;
    border-radius: 3px;
    color: black;
}

.button-link-home:hover {
    mix-blend-mode: multiply;
    color: white;
}

.button-link-profile {
    background-color:mediumvioletred;
    display: inline-block;
    padding: 16px 22px;
    border-radius: 3px;
    color: black;
}

.button-link-profile:hover {
    mix-blend-mode: multiply;
    color: white;
}

.button-link-logout {
    background-color:burlywood;
    display: inline-block;
    padding: 16px 22px;
    border-radius: 3px;
    color: black;
}

.button-link-logout:hover {
    mix-blend-mode: multiply;
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 2rem 3rem;
    border-style: dashed;
    border-color: silver;
}

legend {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 0.5em;
}

.button-active {
    width: -webkit-fill-available;
    margin: 2rem 2.7rem;
    padding: 1.5rem;
    border-radius: 99px;
    border-width: 0;
    background-color: dodgerblue;
    color: white;
    font-family: "Mulish", sans-serif;
    font-size: 0.9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button-active:hover {
    background-color:mediumspringgreen;
    font-weight: 700;
}

.warning {
    font-size: 0.8em;
    font-weight: 600;
    color: crimson;
}

.button-disabled {
    width: -webkit-fill-available;
    margin: 2rem 2.7rem;
    padding: 1.5rem;
    border-radius: 99px;
    border-width: 0;
    background-color: #c9c9c9;
    color: rgb(132, 132, 132);
    font-family: "Mulish", sans-serif;
    font-size: 0.9em;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    color: gray;
    text-align: center;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color:olivedrab;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
    color:hotpink;
}